<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lt. Dan's Shrimpboat!</title>
  </head>
  <body>

<div class="container">

<div class="row">

  <form class="add-order-form">

      <h2> Order Here! </h2>

      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="input-order">Order</label>
              <input type="text" class="form-control" id="input-order" placeholder="Order">
          </div>
      </div>


      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Spiciness</label>
      </div>

  <select class="custom-select" id="spiciness">
    <!-- <option selected>Spiciness...</option> -->
    <option value="Mild">Mild</option>
    <option value="Hot">Hot</option>
    <option value="I got shot in the buttocks!">I got shot in the buttocks!</option>
  </select>

      <button type="submit" id="submit-order" class="btn btn-primary">Order</button>
    </div>
  </div>
</div>

</div>

<div id="target">
  {{#each shrimp}}
    {{this.shrimp_name}}
  {{/each}}
</div>

</div>

  </body>
</html>
