<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lt. Dan's Shrimpboat!</title>
  </head>
  <body>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <!-- <h3>Mild</h3>
      <div id="mild">
        <ol>
        {{#each mildShrimp}}
        <li>
          {{this.shrimp_name}}, {{this.spiciness}}
        </li>
        {{/each}}
      </ol>
      </div>
    </div> -->

    {{> mildmenu}}

    <div class="col-md-4">
      <h3>Hot</h3>
      <div id="hot">
        <ol>
        {{#each hotShrimp}}
        <li>
          {{this.shrimp_name}}, {{this.spiciness}}
        </li>
        {{/each}}
      </ol>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Shot in the Buttocks</h3>
    </div>

  </div>




<div class="row">

  <form class="add-order-form">

      <h2> Order Here! </h2>

      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="input-order">Order</label>
              <input type="text" class="form-control" id="input-order" placeholder="Order">
          </div>
      </div>


      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Spiciness</label>
      </div>

  <select class="custom-select" id="spiciness">
    <option value="Mild">Mild</option>
    <option value="Hot">Hot</option>
    <option value="I got shot in the buttocks!">Shot in the Buttocks!</option>
  </select>

      <button type="submit" id="submit-order" class="btn btn-primary">Order</button>
    </div>
  </div>




  </body>
</html>
