* {
  padding: 1rem;
}

body {
  background-image: url("../images/shrimp2.png");

}

.jumbotron {
  background-color: orange;
  border: .5rem solid blue;

}

#menu {
  border: .5rem solid blue;

}

#hot {
}

#mild {
}
