* {
  padding: 1rem;
}

.menu-item {
font-size: 2rem;
}

body {
  background-image: url("../images/shrimp.jpg");

}

.jumbotron {
  background-color: orange;
  border: .5rem solid black;

}

#menu {
  border: .5rem solid black;

}

#total {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}

#hot {
}

#mild {
}
