* {
  padding: 1rem;
}

.menu-item {
font-size: 2rem;
}

body {
  background-image: url("../images/shrimp.jpg");
  overflow-x: hidden;
}

#menu {
  border: .2rem solid red;
  width: 100%

}

#main {
  background-color: white;
}

#total {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}

#hot {
  border: 1px solid blue;
}

#mild {
  border: 1px solid green;
}

#modal-content {
  background-color: #42dcf4;

}



/*notification*/
.notification {
    position: absolute;
    right: -350px;
    bottom : 100px;
    width: 350px;
    height: 75px;
    font-size: 26px;
    background: #0A2239;
    color : #FFA69E;
    /* font-family: 'Courgette', cursive; */
}

.notification p{
    padding-left: 15px;
}

.slideInOut{
    animation: slideIO 2s;
}

@keyframes slideIO {
    0%, 100%{
        right : -300px;
    }
    20% {
        right: 0px;
    }
    80% {
        right: 0px;
    }
}
